 <h1>Convert <%= @curr1%></h1>

<p>Go <a href="/forex">back</a>.</p>

<ul>
    <% @array_of_symbols.each do |a_symbol|  %>
    <li>
      <a href="/forex/<%= @curr1%>/<%= a_symbol%>">
        Convert 1 <%= @curr1%> to <%= a_symbol%>...
      </a>
    </li>
    <% end %>
</ul>    